<%= form_for [@person, @assignment] do |f| %>

<div class= "form-group">
  <%= f.label :location_id %>
  <%= f.collection_select :location_id, Location.all, :id, :name, {include_blank: "Select a location"}, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :role %>
  <%= f.text_field :roles, class: 'form-control' %>
</div>

<%= f.submit 'Assign', class: 'btn btn-primary' %>

<% end %>
