<div class="page-header">
  <div class="pull-right">
  <%= link_to "Edit", edit_person_path(@person), class: "btn btn-info" %>
  </div>

  <h2><%= @person.full_name %></h2>

</div>

<table class="table table-striped">
  <thead>
    <div class="pull-right">
    <%= link_to "+ Add Location", new_person_assignment_path(@person) %>
  </div>
    <h4>Assignments</h4>

  <tr>
    <th>Location</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @person.assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.location.name %></td>
      <td><%= assignment.roles %></td>
      <td>
      <div class='text-right'>
        <%= link_to "Edit", edit_person_assignment_path(@person, assignment), class: "btn btn-info" %>
        <%= link_to 'Delete', person_assignment_path(@person, assignment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>
